[Desktop Entry]
Type=Application
Name=RPi Dashboard
Comment=Control de Stream para Abelotales
Exec=env WAYLAND_DISPLAY=wayland-0 python3 /home/Abelotales/PiStreamControl/scripts/dashboard.py
X-GNOME-Autostart-enabled=true